{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
     <h2>Dettagli del giornalista:</h2>
    <h2>Nome:</h2> <p>{{ giornalista.cognome }} {{ giornalista.nome }} </p>
    <h2>Nato il </h2> <p>{{giornalista.anno_di_nascita}}</p>
  
    <h4>Tutti i suoi articoli e visualizzazioni</h4>

    <ul>
    {% for articolo in articoli %}
        <li>
        <span class="label">Titolo:</span> 
        <a href="{% url 'news:articolo_detail' articolo.pk %}">{{ articolo.titolo }} </a>
        - {{articolo.visualizzazioni}} 
        </li>
    {% empty %}
        <li>Non ci sono articoli per questo giornalista.</li>
    {% endfor %}
    </ul>
{% endblock content %}

